* {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    background: #f9f9f9;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* NAV */
#dropdownMenuButton {
    background: none;
    border: none;
    color: black;
}

/* DIV CABECERA, PLATA */
#banner {
    height: 100px;
    width: 100%;
}

#bannerCont {
    background-image: url(../img/cool-background_2.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

#infoExpensas {}

#expensas {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    padding: 0;
    color: black;
    align-items: flex-end;
}

#actualmente {
    padding: none;
    font-size: 2.5em;
    font-weight: 700;
}

#gastado {
    font-size: 25px;
    font-weight: 550;
    float: left;
}

/*-------------------------*/

/* SECCION AGREGAR, QUITAR, STATS */
#seleccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0;
}

#botonGasto {
    justify-content: center;
    font-weight: 700
}

#linkEstadisticas {}

#buscador {
    display: flex;
    padding: 10px 0 10px 0;
}

#buscador>input {
    width: 100%;
}

/*-------------------------*/

/* GASTOS */
#gasto {
    width: 1180px;
    margin: auto;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: whitesmoke;
    border-top: 4px solid #fa5252;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fila-top {
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr 1fr;
}

#gananciaoGasto {
    font-weight: 700;
}

#cantidadGasto {
    font-weight: 700;
    text-align: right;
}

.fila-medio {
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    color: #a1a1a1;
}

#tipoGasto,
#horaGasto,
#fechaGasto {
    font-weight: 600;
}

#horaGasto {
    text-align: left;
}

#fechaGasto {
    text-align: left;
}


.fila-abajo {
    color: #aaa;
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr;
}

#descripcionGasto {
    font-weight: 500;
}

/*-------------------------*/

/* MODAL */
#modalNuevoGasto {}

.formularioGasto {}

.formTop,
.formMid,
.formBot {
    display: grid;
    align-items: flex-end;
}

.formTop {
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.formMid {
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.formBot {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/*-------------------------*/