* {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    background: #f9f9f9;
    background-image: url('../img/registro.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20%;
    background-position: left bottom;
}

#formContenedor {
    margin-top: 100px;
    border: 1px solid #f1e9e9;
    border-radius: 4px;
}

#formRegistro {
    width: 500px;
    margin: auto;
}

#botones {
    
}